<google-map
  width="100%"
  height="50vh"
  [options]="mapOptions"
  (mapClick)="moveMap($event)"
  (mapDblclick)="addMarker($event)"
>
  <map-marker
    #marker="mapMarker"
    *ngFor="let location of userLocations"
    [position]="location.position"
    (mapClick)="openInfoWindow(marker)"
  ></map-marker>
  <map-info-window [position]="infoWindowPosition">
    <app-location-info
      *ngIf="locationToDisplay"
      [location]="locationToDisplay"
    ></app-location-info>
    <app-confirm-add-location
      *ngIf="showAddConfirmation"
      [position]="infoWindowPosition"
    >
    </app-confirm-add-location>
  </map-info-window>
</google-map>
