<div class="container">
  <div class="title">
    <h1>Welcome to the Hitching Post</h1>
    <img src="assets/images/signpost.png" alt="signpost logo" />
  </div>
  <section class="about">
    <p>
      A tool for travellers to find and share Layby locations and camping spots!
    </p>
    <p>
      Use the explorer to interact with the local map, search for nearby spots
      and add new locations
    </p>
    <p>
      Use the profile page to manage your favorite spots and personal details
    </p>
  </section>
</div>
